* {
    box-sizing: border-box;
}

body {
  margin: 10;
  font-size: 1rem;
}

img {
  width: 100%;
  height: auto;
}


.cats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h2 {
  padding-left: 2rem;
}

.catsInfo {
  display: flex;
  flex-direction: row;
}

.card {
  border: 5px solid gray;
  margin: 2rem;
  padding: 1rem;
  max-width: 35rem;
  background: whitesmoke;
  border-radius: 5px;
}

.imageCat {
  padding-right: 1.5rem;
  flex: 1;
}

.info p {
  text-shadow: 0 0 1px;
  margin-bottom: 2rem;
}

table,
td {
  border: 2px solid grey;
  border-collapse: collapse;
  background: whitesmoke;
  padding: 0.5rem;
}

table {
  margin-bottom: 2rem;
  margin-left: 2rem;
}
th {
  background: grey;
}

#game div {
  background: whitesmoke;
}

#game {
  margin-left: 2rem;
}